{% extends 'base.html' %}

{% block content %}
<div class="row justify-content-center">
    <div class="col-md-6">
        <div class="card card-edenred">
            <div class="card-body">
                <h3 class="card-title text-center mb-4 text-dark">Entrar</h3>
                
                <form method="post">
                    {{ form.csrf_token }}
                    
                    <div class="mb-3">
                        {{ form.usuario_login.label(class="form-label text-dark") }}  <!-- 🔥 MUDAR AQUI -->
                        {{ form.usuario_login(class="form-control", placeholder="Email, telefone ou Skype") }}  <!-- 🔥 MUDAR AQUI -->
                        {% if form.usuario_login.errors %}  <!-- 🔥 MUDAR AQUI -->
                            <div class="text-danger">
                                {% for error in form.usuario_login.errors %}  <!-- 🔥 MUDAR AQUI -->
                                    <small>{{ error }}</small>
                                {% endfor %}
                            </div>
                        {% endif %}
                    </div>
                    
                    <div class="mb-3">
                        {{ form.senha.label(class="form-label text-dark") }}
                        {{ form.senha(class="form-control", placeholder="Senha") }}
                        {% if form.senha.errors %}
                            <div class="text-danger">
                                {% for error in form.senha.errors %}
                                    <small>{{ error }}</small>
                                {% endfor %}
                            </div>
                        {% endif %}
                    </div>
                    
                    <div class="d-grid">
                        {{ form.btnSubmit(class="btn btn-edenred btn-lg") }}
                    </div>
                </form>
                
                <div class="text-center mt-3">
                    <a href="{{ url_for('cadastro') }}" class="text-muted"> Cadastre-se</a>
                    <br>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}